@font-face {
  font-family: china;
  src: url("./assets/NeueHaasDisplayRoman.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: china;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

.parent{
  display: flex;
  flex-wrap: wrap;;
  justify-content: space-evenly;
}

.card{
  background-color: white;
  width: 330px;
  height:400px;
  margin:20px; 
  padding:30px; 
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap:40px; 
}

#top{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#top button{
  font-size: 17px;
  padding:2px 4px; 
  background-color: transparent;
  color:#7d7474cd;
  border:1px solid #7d7474c0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap:3px;
}

#top img{
  height:80px;
  width:80px;
  object-fit:cover;
  background-position: center;
  border:1px solid #DDDDDD;
  border-radius: 50%;
  padding:10px;
  background-position: center;
}




.card #bottom{
  border-top:2px solid #5756569e;
}

.card #center{
  margin-top: 30px;
}



#center div{
  display:flex;
  gap:10px;
  flex-wrap: wrap;
}

#center h2{
  font-size: 25px;
  font-weight: 700;
}

#center h2 span{
  font-size:15px; 
  color:#7d7474e6;
}

#center p{
  font-weight: 600;
  font-size: 30px;
}

#center h3{
  background-color: #E7E7E7;
  padding:7px;
  border-radius: 5px;
  font-size: 15px;
  margin-top: 10px;
}

#bottom{
  display: flex;
  justify-content: space-between;
  padding-top:20px;
  align-items: center;
}
#bottom h3{
  font-size:25px;
}

#bottom div p{
  color:#7d7474e6; 
  font-size: 15px;
  margin-top:2px;
}

#bottom button{
  background-color: #111;
  color: white;
  padding:5px 25px;
  font-size: 17px;
  border-radius: 10px;
  height:35px;
  cursor: pointer;
}

